* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --myDarkerGrey: #17171f;
    --myDarkGrey: #1d1f29;
    --myTextBackground: #20222b;
  }

html {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    color: white;
}

body {
    background-color: var(--myDarkerGrey);
}

main {
    display: grid;
    grid-template-columns: 5vw 15vw 1fr 15vw 5vw;
    grid-template-rows: auto;
}

header {
    background-color: var(--myDarkGrey);
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 1px 1px 10px black;
    padding: 0.5rem 5vw;
}

header h1 a {
    text-decoration: none;
    color: white;
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
}

.navlist {
    list-style: none;
}

.navlist li {
    display: inline-block;
    padding: 0.2em 0.6em;
}

.navlist li a {
    text-decoration: none;
    padding: 0.2em ;
    color: white;
}

.navlist li a:hover {
    color: rgb(177, 177, 177);
}

p {
    grid-column: 3/4;
    margin: 5vh 0;
    background-color: var(--myTextBackground);
    border-radius: 5px;
    box-shadow: 2px 2px 5px 2px black;
    padding: 1em;
}

.hutaoimg {
    grid-column: 3/4;
    margin: 0 auto;
    width: 600px;
}

.hutaoimg img {
    width: 100%;
}